:root {
  --ifm-color-primary: #2b90d9;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
}

.avatar {
  margin-top: 1.5rem;
}

.footer__logo {
  max-width: 16em !important;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
